<div class='articles'>
  {{#each articles}}
    <div class='main_content'>
      <img src='{{photo}}' class='img' />
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <button class='main_btn'>Read All</button>
    </div>
  {{/each}}
</div>